<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Mahdi</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    {% if request.user.is_authenticated %}
      {% if request.user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="{% url 'admin:index'%}">Admin</a>
        </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:logout'%}">logout</a>
      </li>
      <li class="nav-item {% if request.path == '/accounts/profile/' %}active{% endif %}">
        <a class="nav-link" href="{% url 'accounts:profile'%}">Profile</a>
      </li>
      <li class="nav-item {% if request.path == '/all_post/' %}active{% endif %}">
        <a class="nav-link" href="{% url 'blog:all_post'%}">blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
    {% else %}
          <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:login'%}">login</a>
      </li>
      <li class="nav-item {% if request.path == '/all_post/' %}active{% endif %}">
        <a class="nav-link" href="{% url 'blog:all_post'%}">blog</a>
      </li>
      <li class="nav-item active {% if request.path == '/' %}active{% endif %}">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
    {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success mr-3 my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>